@model InlandData.Slip

@{
    ViewData["Title"] = "BookSlip";
}


<div>
    <h4>Slip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlipId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlipId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dock.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dock.Name)
        </dd>
    </dl>
</div>

<!-- Button to submit the form -->
<div>
    <button type="submit" class="btn btn-primary">Book Slip</button>
</div>

    

