@model IEnumerable<InlandData.Slip>

@{
    ViewData["Title"] = "All Slips";
}


<div class="d-flex justify-content-center">
<div class="table-responsive table-striped col-6 justify-content-center">
        <h1>FilteredSlips</h1>
        <form asp-action="FilteredSlips" method="post">
            <p>
                <select name="id" asp-items="@ViewBag.Dock" class="form-select" onchange="this.form.submit()">
                </select>
            </p>
        </form>
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SlipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DockID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SlipId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dock.Name)
            </td>
                        <td>
                            @Html.ActionLink("Book", "Book", new { /* id=item.PrimaryKey */ }) 
                           
                        </td>
         
        </tr>
}
    </tbody>
</table>
</div>
</div>